body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 850px;
  margin: 50px auto 0;
  gap: 40px;
}

.head {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 25px;
  gap: 10px;
}

.title {
  font-weight: 700;
  text-align: center;
  line-height: 0;
  margin: 0;
}

.button-update {
  width: 25px;
  height: 25px;
}

.notes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

/* --- */

.note {
  position: relative;
  box-sizing: border-box;
  border: 2px solid skyblue;
  border-radius: 10px;
  background-color: white;
  padding: 10px;
  width: 250px;
  min-height: 150px;
}

.note-content {
  margin: 0;
}

.note-button {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 20px;
  height: 20px;

}

/* --- */

.form {
  display: flex;
  justify-content: center;
}

.form-label {
  position: relative;
}

.form-textarea {
  box-sizing: border-box;
  width: 400px;
  min-height: 150px;
  padding: 10px;
  font-family: inherit;
  font-size: 16px;
  border: 2px solid #85c076;
  resize: vertical;
}

.form-textarea:focus {
  outline: none;
}

.form-button {
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 15px;
  right: 15px;
}
